<p>alterar {{enquete.id}}</p>

<form action="/alterar_enquete" method="POST">
    <label for="titulo">Título:</label>
    <input id="titulo" type="text" name="titulo" value="{{enquete.titulo}}" required>
    <br>
    <label for="dataIni">Data inicial:</label>
    <input id="dataIni" type="date" name="dataIni" value="{{enquete.data_inicio}}" required>
    <br>
    <label for="dataFim">Data final:</label>
    <input id="dataFim" type="date" name="dataFim" value="{{enquete.data_termino}}" required>
    <br>
    <label for="op1">Opção 1:</label>
    <input id="op1" type="text" name="op1" value="{{enquete.opcao1}}" required>
    <br>
    <label for="op2">Opção 2:</label>
    <input id="op2" type="text" name="op2" value="{{enquete.opcao2}}" required>
    <br>
    <label for="op3">Opção 3:</label>
    <input id="op3" type="text" name="op3" value="{{enquete.opcao3}}" required>
    <br>
    <label for="op4">Opção 4:</label>
    <input id="op4" type="text" name="op4" value="{{enquete.opcao4}}">
    <span>(não obrigatório)</span>
    <br>
    <label for="op5">Opção 5:</label>
    <input id="op5" type="text" name="op5" value="{{enquete.opcao5}}">
    <span>(não obrigatório)</span>
    <br>
    <label for="op6">Opção 6:</label>
    <input id="op6" type="text" name="op6" value="{{enquete.opcao6}}">
    <span>(não obrigatório)</span>
    <br>
    <input type="submit" value="enviar">
</form>