<div>
    <p>{{enquete.titulo}}</p>
    <p>{{enquete.opcao1}}</p>
    <p>{{enquete.opcao2}}</p>
    <p>{{enquete.opcao3}}</p>
    <p>{{enquete.opcao4}}</p>
    <p>{{enquete.opcao5}}</p>
    <p>{{enquete.opcao6}}</p>
    <p>{{enquete.data_inicio}}</p>
    <p>{{enquete.data_termino}}</p>
</div>
<a href="/alterar/{{enquete.id}}">
    <button>editar</button>
</a>